body {
    position: relative;
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 800px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
}

.item {
    border: 1px solid black;
}

.item:nth-child(5n+2) {
    grid-row: span 2 ;
    background-color: gray;
}